<div class="container">
    <h3>Shopping Cart</h3>
    You have xyz items in your shopping cart.

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="thumbnail"></div>
                </td>
                <td>
                    title
                </td>
                <td>
                    xyz
                </td>
                <td>
                    Price
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th class="text-right">Total price: $x</th>
            </tr>
        </tfoot>
    </table>

    <div class="row mt-3 justify-content-end">
        <div class="col-auto">
            <button (click)="clearCart()" class="btn btn-secondary">Clear Shopping
                Cart
            </button>
            <button style="margin-left: 5px" routerLink="/checkout" class="btn btn-primary">Check Out</button>
        </div>
    </div>

</div>