<form #f="ngForm">
    <div class="form-group">
        <label for="name">Name</label>
        <input #name="ngModel" name="name" [(ngModel)]="shipping.name" type="text" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input #email="ngModel" name="email" [(ngModel)]="shipping.email" type="text" class="form-control" required email>
    </div>
    <div class="form-group">
        <label for="number">Contact Number</label>
        <input #number="ngModel" name="number" [(ngModel)]="shipping.number" type="text" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <input #address="ngModel" name="address" [(ngModel)]="shipping.address" type="text" class="form-control" required>
    </div>
    <div class="row mt-3 justify-content-end">
        <div class="col-auto">
            <button [disabled]="!f.valid" (click)="placeOrder()" class="btn btn-primary">Place Order</button>
        </div>
    </div>
</form>