#newBadge {
  position: absolute;
  top: 15px;
  font-size: 12px;
}
/* Add pointer cursor to navbar links and form elements */
.navbar-nav li.nav-item a.nav-link,
.form-control,
.btn {
  cursor: pointer;
}
.fa {
  font-size: x-large;
  cursor: pointer;
}
nav {
  height: 4rem;
  position: sticky;
  top: 0;
  z-index: 9;
}
