#newBadge {
  position: absolute;
  top: 10px;
  font-size: 10px;
}
/* Add pointer cursor to navbar links and form elements */
.navbar-nav li.nav-item a.nav-link,
.form-control,
.dropdown,
.btn {
  cursor: pointer;
}
.fa {
  font-size: x-large;
  cursor: pointer;
}
nav {
  height: 4rem;
  position: sticky;
  top: 0;
  z-index: 9;
}
.form_selected {
  border-bottom: 2px solid;
  color: black !important;
}