<div class="container">
    <h3>Orders</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders | async">
                <td>{{ order.shipping.name }}</td>
                <td>{{ order.datePlaced | date}}</td>
                <td>
                    <button class="btn btn-primary" (click)="openOrderPopup(order)">View</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>