<div class="container" id="container">
    <form [formGroup]="authForm" class="login-container">
        <h1>Sign in to E-Shop</h1>

        <div>
            <mat-form-field floatLabel="always" class="btn-custom mt-3 mb-4" appearance="outline">
                <mat-label>Email Address</mat-label>

                <input matInput type="email" formControlName="email" />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field floatLabel="always" class="btn-custom mb-4" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" />
            </mat-form-field>
        </div>
        <div>
            <a (click)="forgetPass()" style="cursor: pointer">Forget Password?</a>
        </div>
        <div>
            <button class="sign-in" (click)="login()">
                Login
            </button>
        </div>
    </form>
</div>