<div class="container">
    <h3 align="center"> Manage Products </h3>
    <p>
        <a routerLink="/admin/products/new" class="btn btn-primary float-right">+ New Product</a>
    </p>
    <table class="table" style="margin-top:60px">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Category</th>
                <th style="padding-left: 20px;">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products | async">
                <td>{{ product.title }}</td>
                <td>{{ product.price | currency:'USD':true}}</td>
                <td>{{ product.category}}</td>
                <td>
                    <button class="btn btn-primary" [routerLink]="['/admin/products/', product.id]">Edit</button>
                    <button class="btn btn-danger" style="margin-left:5px;" (click)="delete(product)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>